#thought {
    border: solid 2px #f3e6a0;
    box-shadow: inset 0 0 2px 2px #e87f3987, 0 0 2px 2px #e87f3987;
    background-color: transparent;
    width: 630px;
    height: 21px;
    outline: none;
}

::placeholder {
    color: rgba(204, 200, 179, 0.87);
}

h1 {
    color: #f3e6a0;
    text-shadow: 0 0 10px #e87f39;
    font-weight: 100;
}

#main-border {
    display: flex;
    justify-content: center; /* Center the main border horizontally */
    align-items: center; /* Center the main border vertically (optional) */
    border: 3px solid #f3e6a0;
    box-shadow: inset 0 0 2px 2px #e87f3987, 0 0 2px 2px #e87f3987;
    width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center on the page */
    min-height: 90vh;
    box-sizing: border-box;
}

#main-message {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align content to the left */
    justify-content: center;
    width: 100%; /* Take full width of the parent container */
    padding: 20px; /* Add some spacing inside the border */
    transition: transform 2s ease;
}

#main-message:hover {
    transform: translateX(-20%);
}

#input-text {
    animation: type 8s steps(100, end);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

@keyframes type {
    from { 
        width: 0 
    }
    to { 
        width: 100% 
    }
}

